| Dividends | Dividend returns analysis|
| ----------- | ----------- |

In [31]:
import pandas as pd
import numpy as np
import openpyxl
import requests

import pyEX as p

In [32]:
# Import iex cloud api token
from config import iex_api_token

In [33]:
# Load all stock data
all_stock_df = pd.read_excel('stock_list_all.xlsx')

len(all_stock_df)

5449

In [34]:
# Connect to IEX cloud api endpoint
c = p.Client(api_token=iex_api_token, version='stable')

In [35]:
# Chang the column labels to lowercase
all_stock_df = all_stock_df.rename(columns={col: col.lower() for col in all_stock_df.columns})

# Filter on necessary columns
all_stock_df = all_stock_df.iloc[:,:2]

all_stock_df.head(3)

  symbol                company name
0      A    Agilent Technologies Inc
1     AA                  Alcoa Corp
2   AACG  ATA Creativity Global(ADR)

In [36]:
# Create a sample stock list, select at random
subset_size = 50
subset_indices = np.random.choice(all_stock_df.index, size=subset_size, replace=False)
subset_df = all_stock_df.loc[subset_indices]

subset_df.head(5)

     symbol                 company name
2732     KC  Kingsoft Cloud Holdings Ltd
1235   CSOD   Cornerstone OnDemand, Inc.
274    AMSF              Amerisafe, Inc.
1041   CLAR                  Clarus Corp
3902   PINS                Pinterest Inc

In [37]:
# Sort data frame on the symbol column
subset_df = subset_df.sort_values('symbol')

subset_df.head(5)

    symbol                     company name
57    ACRX       AcelRx Pharmaceuticals Inc
274   AMSF                  Amerisafe, Inc.
310     AP            Ampco-Pittsburgh Corp
380  ARR-C      ARMOUR Residential REIT Inc
453     AU  AngloGold Ashanti Limited (ADR)

In [38]:
# Reset index AND drop the old index values
subset_df.reset_index(drop=True, inplace=True)

subset_df

    symbol                              company name
0     ACRX                AcelRx Pharmaceuticals Inc
1     AMSF                           Amerisafe, Inc.
2       AP                     Ampco-Pittsburgh Corp
3    ARR-C               ARMOUR Residential REIT Inc
4       AU           AngloGold Ashanti Limited (ADR)
5     BEST                            BEST Inc (ADR)
6      BFY  Blackrock New York Municipal Incme Tr II
7     BNTX                         BioNTech SE - ADR
8      CCB          Coastal Financial Corp (EVERETT)
9      CFG              Citizens Financial Group Inc
10    CLAR                               Clarus Corp
11   CMCTP                 CIM Commercial Trust Corp
12    CPRX              Catalyst Pharmaceuticals Inc
13     CRM                      salesforce.com, inc.
14    CSOD                Cornerstone OnDemand, Inc.
15     ELY                          Callaway Golf Co
16    ERIC           Telefonaktiebolaget LM Ericsson
17    ESTC                                Elastic NV
18    ETNB                                 89bio Inc
19     FCX                      Freeport-McMoRan Inc
20      FE                         FirstEnergy Corp.
21    FRHC                      Freedom Holding Corp
22    FSCT                Forescout Technologies Inc
23    GRWG                       GrowGeneration Corp
24    IBIO                                  Ibio Inc
25    ISDR                        Issuer Direct Corp
26     JTA  Nuveen Tax-Advantaged Ttl Rtrn Strtgy Fd
27      KC               Kingsoft Cloud Holdings Ltd
28    LPTH              LightPath Technologies, Inc.
29     MFT  Blackrock Muniyield Investment Qlty Fund
30    MNLO                    Menlo Therapeutics Inc
31    NICE                            Nice Ltd (ADR)
32    NMCO    Nuveen Municipal Credit Opprtntes Fund
33     NTG        Tortoise Midstream Energy Fund Inc
34    PINS                             Pinterest Inc
35  PRIF-E                  Priority Income Fund Inc
36    RARE             Ultragenyx Pharmaceutical Inc
37    RBNC                       Reliant Bancorp Inc
38     RMD                               ResMed Inc.
39     ROL                             Rollins, Inc.
40    SAEX                SAExploration Holdings Inc
41    SANM                              Sanmina Corp
42    SHEN     Shenandoah Telecommunications Company
43    SIVB                       SVB Financial Group
44   SOHOO                       Sotherly Hotels Inc
45      TS                         Tenaris SA  (ADR)
46    TSEM            Tower Semiconductor Ltd. (USA)
47     UMC        United Microelectronics Corp (ADR)
48     VPG                Vishay Precision Group Inc
49      ZI                 ZoomInfo Technologies Inc

In [ ]:
stock_ticker_list = subset_df['symbol'].values.tolist()

stock_ticker_list

In [40]:
"""
Create a data frame with one stock you know has dividends

AAPL is the testing ticker
"""
# First search if AAPL is in the random selected list
apple_ticker = 'AAPL'

# If statement looking for AAPL
if apple_ticker in stock_ticker_list:
    print('AAPL is IN the list')
else:
    print('AAPL is NOT in the list')

AAPL is NOT in the list

In [43]:
# Test the API connection for the "Financials" endpoint
# IMPORTANT - create a new data frame
# This is the data frame that you will append the data to
# Make sure the columns are in order later

# Connect to IEX cloud api endpoint
c = p.Client(api_token=iex_api_token, version='stable')

# Initiate the API connection -> create a data frame 
df = c.dividendsDF(symbol=apple_ticker)

df

,adrFee,amount,announceDate,countryCode,coupon,created,currency,declaredCurrencyCD,declaredDate,declaredGrossAmount,...,securityType,symbol,taxRate,toDate,toFactor,id,key,subkey,date,updated
0,0,0.23,2022-10-27,US,0,2022-10-28,USD,,2022-10-27,0,...,Equity Shares,AAPL,0,0000-00-00,0,ADVANCED_DIVIDENDS,AAPL,2733643,1667520000000,1667075238000

| END OF PROGRAM |
| ----------- |
| Notes for future DEV, and reference code below |

In [42]:
# for i in stock_ticker_list:
#     staging_df = c.financialsDF(symbol=i)
#     div_df =