| Dividends | Dividend returns analysis|
| ----------- | ----------- |

In [20]:
import pandas as pd
import numpy as np
import openpyxl
import requests

import pyEX as p

In [21]:
# Import iex cloud api token
from config import iex_api_token

In [22]:
# Load all stock data
all_stock_df = pd.read_excel('stock_list_all.xlsx')

len(all_stock_df)

5449

In [23]:
# Connect to IEX cloud api endpoint
c = p.Client(api_token=iex_api_token, version='stable')

In [24]:
# Chang the column labels to lowercase
all_stock_df = all_stock_df.rename(columns={col: col.lower() for col in all_stock_df.columns})

# Filter on necessary columns
all_stock_df = all_stock_df.iloc[:,:2]

all_stock_df.head(3)

  symbol                company name
0      A    Agilent Technologies Inc
1     AA                  Alcoa Corp
2   AACG  ATA Creativity Global(ADR)

In [25]:
# Create a sample stock list, select at random
subset_size = 50
subset_indices = np.random.choice(all_stock_df.index, size=subset_size, replace=False)
subset_df = all_stock_df.loc[subset_indices]

subset_df.head(5)

     symbol                       company name
681    BLNK                  Blink Charging Co
4694   SUPN       Supernus Pharmaceuticals Inc
3988  PRE-H                      PartnerRe Ltd
2697    JOE                         St. Joe Co
4094     QK  Q&K International Group Ltd - ADR

In [26]:
# Sort data frame on the symbol column
subset_df = subset_df.sort_values('symbol')

subset_df.head(5)

    symbol                 company name
220   ALRS        Alerus Financial Corp
256   AMKR       Amkor Technology, Inc.
296  ANH-C  Anworth Mortgage Asset Corp
458   AUTO                  Autoweb Inc
681   BLNK            Blink Charging Co

In [ ]:
# Reset index AND drop the old index values
subset_df.reset_index(drop=True, inplace=True)

subset_df

In [ ]:
stock_ticker_list = subset_df['symbol'].values.tolist()

stock_ticker_list

In [29]:
"""
Create a data frame with one stock you know has dividends

AAPL is the testing ticker
"""
# First search if AAPL is in the random selected list
apple_ticker = 'AAPL'

# If statement looking for AAPL
if apple_ticker in stock_ticker_list:
    print('AAPL is IN the list')
else:
    print('AAPL is NOT in the list')

AAPL is NOT in the list

In [ ]:
# Test the API connection for the "Financials" endpoint
# IMPORTANT - create a new data frame
# This is the data frame that you will append the data to
# Make sure the columns are in order later

| END OF PROGRAM |
| ----------- |
| Notes for future DEV, and reference code below |

In [30]:
# for i in stock_ticker_list:
#     staging_df = c.financialsDF(symbol=i)
#     div_df =